//- Define variables custom to this instance

- var proj_title    = 'Project Name';
- var proj_subtitle = 'Project description';

- var css           = ['nrelcomm'];
- var js            = ['../_js/stickyFooter.jquery', 'nrelcomm'];

- var proj_url   = 'http://github.nrel.gov/drupal/doe_stats';
- var proj_name  = 'doe_stats';
- var tags       = [{name: 'Drupal 6', version: '6.x-1.0-rc1'}, {name: 'Drupal 7', version: '7.x-1.0-rc1'}];
