include ../includes/mixins
include _vars

include ../includes/page-head

      header#site-header
        mixin kitten(300,200)
        h1#title Project Name
        h2#subtitle Project short description.
      div.border
      div#main
        nav
          ul
            li: a(href="#") Link 1
            li: a(href="#") Link 2
            li: a(href="#") Link 3
            li: a(href="#") Link 4
        h3 Section
        h3 Section
        h3 Section
    footer#site-footer
      div.border
      .inner
        h4 Maintainers
        ul
          li
            a(href="mailto:chris.albrecht@nrel.gov") Chris Albrecht
