!!!html
html
  head
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    title|Gonzo Theme
    link(type="text/css",rel="stylesheet",media="all",href="gonzo.css")
  body
    div#boundary
      aside#sidebar
        | Sidebar
      section#main
        header
          | Header
        div#body
          | Body
        footer
          | Footer
