include ../includes/mixins

!!! 5
html
  head
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    title|Gonzo Theme
    <link href='http://fonts.googleapis.com/css?family=Belleza|Kaushan+Script|Rokkitt:400,700' rel='stylesheet' type='text/css'>
    mixin css('gonzo')
  body
    div#page
      aside#sidebar
        nav#main-nav
          ul.menu.inline
            li
              a(href="#") Link 1
            li
              a(href="#") Link 2
            li
              a(href="#") Link 3
        | Sidebar
      section#main
        article
          header
            h1#title|Page Title
            div.byline October 24, 2013
          div.body
            h1 Heading 1
            h2 Heading 2
            h3 Heading 3
            h4 Heading 4
            h5 Heading 5
            h6 Heading 6

            h1 Heading 1
            p Rapidiously embrace economically sound networks whereas interdependent supply chains. Intrinsicly facilitate alternative testing procedures through long-term high-impact products. Continually productivate B2C quality vectors after resource maximizing value. Synergistically disintermediate multimedia based intellectual capital for wireless potentialities. Uniquely predominate turnkey ideas rather than robust users.
            p Authoritatively plagiarize enterprise-wide users through parallel relationships. Dynamically predominate 2.0 testing procedures after cross-unit solutions. Competently conceptualize bleeding-edge "outside the box" thinking and visionary applications. Synergistically harness functionalized alignments without transparent relationships. Rapidiously architect stand-alone intellectual capital without bricks-and-clicks markets.

            h2 Heading 2
            p Rapidiously embrace economically sound networks whereas interdependent supply chains. Intrinsicly facilitate alternative testing procedures through long-term high-impact products. Continually productivate B2C quality vectors after resource maximizing value. Synergistically disintermediate multimedia based intellectual capital for wireless potentialities. Uniquely predominate turnkey ideas rather than robust users.
            p Authoritatively plagiarize enterprise-wide users through parallel relationships. Dynamically predominate 2.0 testing procedures after cross-unit solutions. Competently conceptualize bleeding-edge "outside the box" thinking and visionary applications. Synergistically harness functionalized alignments without transparent relationships. Rapidiously architect stand-alone intellectual capital without bricks-and-clicks markets.

            h3 Heading 3
            p Rapidiously embrace <a href="#">economically</a> sound networks whereas interdependent supply chains. Intrinsicly facilitate alternative testing procedures through long-term high-impact products. Continually productivate B2C quality vectors after resource maximizing value. Synergistically disintermediate multimedia based intellectual capital for wireless potentialities. Uniquely predominate turnkey ideas rather than robust users.
            p Authoritatively plagiarize enterprise-wide users through parallel relationships. Dynamically predominate 2.0 testing procedures after cross-unit solutions. Competently conceptualize bleeding-edge "outside the box" thinking and visionary applications. Synergistically harness functionalized alignments without transparent relationships. Rapidiously architect stand-alone intellectual capital without bricks-and-clicks markets.

            h4 Heading 4
            p Rapidiously embrace economically sound networks whereas interdependent supply chains. Intrinsicly facilitate alternative testing procedures through long-term high-impact products. Continually productivate B2C quality vectors after resource maximizing value. Synergistically disintermediate multimedia based intellectual capital for wireless potentialities. Uniquely predominate turnkey ideas rather than robust users.
            p Authoritatively plagiarize enterprise-wide users through parallel relationships. Dynamically predominate 2.0 testing procedures after cross-unit solutions. Competently conceptualize bleeding-edge "outside the box" thinking and visionary applications. Synergistically harness functionalized alignments without transparent relationships. Rapidiously architect stand-alone intellectual capital without bricks-and-clicks markets.

            h5 Heading 5
            p Rapidiously embrace economically sound networks whereas interdependent supply chains. Intrinsicly facilitate alternative testing procedures through long-term high-impact products. Continually productivate B2C quality vectors after resource maximizing value. Synergistically disintermediate multimedia based intellectual capital for wireless potentialities. Uniquely predominate turnkey ideas rather than robust users.

            p Authoritatively plagiarize enterprise-wide users through parallel relationships. Dynamically predominate 2.0 testing procedures after cross-unit solutions. Competently conceptualize bleeding-edge "outside the box" thinking and visionary applications. Synergistically harness functionalized alignments without transparent relationships. Rapidiously architect stand-alone intellectual capital without bricks-and-clicks markets.

            h6 Heading 6
            p Rapidiously embrace economically sound networks whereas interdependent supply chains. Intrinsicly facilitate alternative testing procedures through long-term high-impact products. Continually productivate B2C quality vectors after resource maximizing value. Synergistically disintermediate multimedia based intellectual capital for wireless potentialities. Uniquely predominate turnkey ideas rather than robust users.
            p Authoritatively plagiarize enterprise-wide users through parallel relationships. Dynamically predominate 2.0 testing procedures after cross-unit solutions. Competently conceptualize bleeding-edge "outside the box" thinking and visionary applications. Synergistically harness functionalized alignments without transparent relationships. Rapidiously architect stand-alone intellectual capital without bricks-and-clicks markets.

            p Rapidiously embrace economically sound networks whereas interdependent supply chains. Intrinsicly facilitate alternative testing procedures through long-term high-impact products. Continually productivate B2C quality vectors after resource maximizing value. Synergistically disintermediate multimedia based intellectual capital for wireless potentialities. Uniquely predominate turnkey ideas rather than robust users.
            p Authoritatively plagiarize enterprise-wide users through parallel relationships. Dynamically predominate 2.0 testing procedures after cross-unit solutions. Competently conceptualize bleeding-edge "outside the box" thinking and visionary applications. Synergistically harness functionalized alignments without transparent relationships. Rapidiously architect stand-alone intellectual capital without bricks-and-clicks markets.

            ul
             li Item 1
             li Item 2
             li.
              Conveniently conceptualize customer directed solutions with one-to-one technology. Holisticly incentivize premier "outside the box" thinking with goal


            p Conveniently conceptualize customer directed solutions with one-to-one technology. Holisticly incentivize premier "outside the box" thinking with goal-oriented networks. Professionally customize B2B models for sustainable intellectual capital. Completely incubate 24/7 products with resource-leveling paradigms. Distinctively cultivate adaptive e-tailers whereas proactive systems.
            p Synergistically enable resource-leveling e-tailers via premier applications. Dynamically scale go forward outsourcing vis-a-vis low-risk high-yield technology. Professionally incentivize mission-critical portals through mission-critical expertise. Compellingly integrate sustainable e-business through multimedia based potentialities. Compellingly benchmark user-centric products before go forward users.
            p Dramatically negotiate stand-alone deliverables vis-a-vis client-centric scenarios. Efficiently supply open-source systems rather than holistic products. Distinctively unleash revolutionary technology and go forward data. Globally envisioneer integrated content via functional services. Assertively myocardinate front-end relationships before team driven models.
            p Rapidiously leverage other's visionary "outside the box" thinking via value-added services. Appropriately grow leading-edge interfaces through e-business opportunities. Uniquely build high-quality materials rather than principle-centered total linkage. Competently engineer future-proof users rather than user friendly intellectual capital. Distinctively restore just in time networks with.
