include ../includes/mixins

!!! 5
html
  head
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    title|In-Step Theme
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Varela+Round|Metrophobic' rel='stylesheet' type='text/css'>
    mixin css('instep')
    <script type="text/javascript" src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    mixin js('/nebula/js/stickyFooter.jquery.min')
  body
    div#page
      header#site-header
        a(href="#", id="logo")
          img(src="logo.png")
        nav#main-nav
          ul
            li.placeholder
              span.color &nbsp;
              div.placebo &nbsp;
            li.first
              span.color &nbsp;
              a(href="#") Home
            li.active-trail
              span.color &nbsp;
              a(href="#") About Us
            li
              span.color &nbsp;
              a(href="#") The Insole
            li
              span.color &nbsp;
              a(href="#") Community
            li
              span.color &nbsp;
              a(href="#") Contact
      section#main
        article
          header
            h1#title|Page Title
          div.body
            include ../includes/styleguide-content
    footer#site-footer

