* {
  margin: 0;
}

html, body, #page {
  height: 100%;
}

#page {
  min-height: 100%;
	height: auto !important;
	height: 100%;
}

body {
  font-family: $serif;
}

@include headers {
  font-family: $sans-serif;
}
