aside#sidebar {
  @include box-sizing(border-box);
  @include x-rem(width, $sidebar-width);
  @include x-rem(padding, $sidebar-padding);
  background: rgba(black, .8);

  color: white;
  position: fixed;
  height: 100%;

  a {
    @include x-rem(font-size, 1.2);
    @include transition(all .38s ease-out);

    overflow: hidden;
    color: white;
    text-decoration: none;
    display: block;

    &:hover {
      color: $blue;
      text-decoration: underline;

      span {
        @include transform(translateX(0));
      }
    }

    span {
      @include transform(translateX(-1em));
      @include transition(all .38s ease-out);
      display: block;
    }

    i {
      width: 1em;
      margin-right: 0;
    }
  }

  ul.menu {
    padding-left: 0;
  }

  @include rem-breakpoint(max-width, 50) {
    @include x-rem(padding, $sidebar-padding / 2);
  }
}

// Breakpoints
@include rem-breakpoint(max-width, $col-break) {
  aside#sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
}
